[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
neovim = "*"
pudb = "*"
nose2 = "*"
flask = "*"
black = "*"
flask-sqlalchemy = "*"
flask-wtf = "*"

[dev-packages]

[requires]
python_version = "3.8"
