{% extends 'layout.html' %}

{% block body %}
<h1 class="display-1 text-center">PASS</h1>
<div class="text-center">
    <h3 id="month-and-year"></h3>
    <button class="btn btn-secondary" id="previous-month"></button>
    <button class="btn btn-secondary" id="next-month"></button>
    <button class="btn btn-secondary" id="calendar-today">Today</button>
</div>
<table style="table-layout: fixed" id="calendar" class="calendar table table-bordered">
    <thead>
        <tr>
            <th data-number=0 class="col">Sunday</th>
            <th data-number=1 class="col">Monday</th>
            <th data-number=2 class="col">Tuesday</th>
            <th data-number=3 class="col">Wednesday</th>
            <th data-number=4 class="col">Thursday</th>
            <th data-number=5 class="col">Friday</th>
            <th data-number=6 class="col">Saturday</th>
        </tr>
    </thead>
    <tbody>
    </tbody>
</table>
<h3>Employees</h3>
<button class="btn btn-primary" onclick="get_employees()">Refresh</button>
<button class="btn btn-danger" onclick="reset_employees()">RESET</button>
<ul id="employees-list"></ul>

<h3>Store Hours</h3>
<form novalidate id="add_date_form" accept-charset="utf-8">
    <div>
        <label for="date" class="form-label">Date</label>
        <input type="date" name="date" class="form-control" id="date" required>
        <div class="invalid-feedback">Date is required</div>
    </div>
    <div>
        <label for="opening_time" class="form-label">Opening Time</label>
        <input type="time" name="opening_time" class="form-control" id="opening_time" required>
        <div class="invalid-feedback">Opening Time is required</div>
    </div>
    <div>
        <label for="closing_time" class="form-label">Closing Time</label>
        <input type="time" name="closing_time" class="form-control" id="closing_time" required>
        <div class="invalid-feedback">Closing Time is required</div>
    </div>
    <div>
        <label for="min_emps_working" class="form-label">Minimum Employees Working</label>
        <input type="number" name="min_emps_working" class="form-control" id="min_emps_working" required>
        <div class="invalid-feedback">Minimum Employees working required</div>
    </div>
    <input type="submit" value="Add" class="btn btn-primary">
</form>

<h3>Create Employee</h3>
<form novalidate id="add_employee_form" accept-charset="utf-8">
    <div>
        <label for="first_name" class="form-label">First Name</label>
        <input type="text" name="first_name" class="form-control" id="first_name" required>
        <div class="invalid-feedback">First name is required</div>
    </div>
    <div>
        <label for="last_name" class="form-label">Last Name</label>
        <input type="text" name="last_name" class="form-control" id="last_name" required>
        <div class="invalid-feedback">Last name is required</div>
    </div>
    <div class="form-check">
        <input class="form-check-input" name="fixed_hours" type="checkbox" id="fixed_hours">
        <label class="form-check-label" for="fixed_hours">Fixed Hours</label>
    </div>
    <div>
        <label for="max_working_days" class="form-label">Maximum Working Days</label>
        <input type="number" value=5 name="max_working_days" class="form-control" id="max_working_days" required>
        <div class="invalid-feedback">Maximum working days is required</div>
    </div>
    <input type="submit" value="Create" class="btn btn-primary">
</form>
{% endblock %}
